{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Book shelf">
        <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}">
        <title>{% block title %}{%endblock%} - BookShelf</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/layout.css' %}">
        {% block head %}{% endblock %}
        {% bootstrap_javascript jquery='slim' %}
    </head>
    <body class="text-center">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                {% block header %}{% endblock %}
            </header>

            <main role="main" class="inner cover">
                {% block main %}{% endblock %}
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>&copy;Bookshelf, 2023</p>
                </div>
            </footer>
        </div>
    </body>
</html>