{% extends "layout/basic.html" %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Редактирование профиля{% endblock %}
{% block header %}
<header class="masthead">
    <div class="inner">
        <h3 class="masthead-brand">Bookshelf</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{% url 'main:index' %}">Главная</a>
            <a class="nav-link" href="{% url 'main:profile' %}">Профиль</a>
            <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
        </nav>
    </div>
</header>
{% endblock %}
{% block main %}
    <div class="container flex-wrap">
        <div class="row">
            <div class="col-auto text-left">
                <h1>&commat;{{ user.username }}</h1>
            </div>
        </div>
    </div>

    <p>
        <form class="form-book" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <button class="btn btn-lg btn-secondary" type="submit">Сохранить</button>
        </form>
    </p>
{% endblock %}