<!--v2-->
{% extends "layout/basic.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block nav_items %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'main:index' %}">Главная</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:profile' %}">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:login' %}">Вход</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:register' %}">Регистрация</a>
    </li>
    {% endif %}
{% endblock %}
{% block main_class %}mt-auto mb-auto{% endblock %}
{% block main %}
    <h1 class="cover-heading">Книжная полка</h1>
    <p class="lead">Создавайте списки книг: прочитанных и ожидающих прочтения, любимых или отвратительных,
        которых хотелось бы получить в подарок или уже покоящихся в шкафу. Выставляйте книгам оценки и 
        сохраняйте свои впечатления о прочитанном. Делитесь своими виртуальными полками с друзьями. 
        Бесплатно и навсегда.
    </p>
    <p class="lead">
        {% if user.is_authenticated %}
        <a href="{% url 'main:profile' %}" class="btn btn-lg btn-secondary">Профиль</a>
        {% else %}
        <a href="{% url 'main:login' %}" class="btn btn-lg btn-secondary">Вход</a>
        {% endif %}
    </p>
{% endblock %}