{% extends "layout/basic.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Изменение пароля{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'main/css/password.css' %}">{% endblock %}
{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Bookshelf</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{% url 'main:index' %}">Главная</a>
            <a class="nav-link" href="{% url 'main:profile' %}">Профиль</a>
            <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
        </nav>
    </div>
</header>
{% endblock %}
{% block main %}
    <form class="form-book" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-lg btn-secondary mt-2" type="submit">Сохранить</button>
    </form>
{% endblock %}