<!--v2-->
{% extends "layout/basic.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Изменение пароля{% endblock %}
{% block nav_items %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'main:index' %}">Главная</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:profile' %}">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:login' %}">Вход</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:register' %}">Регистрация</a>
    </li>
    {% endif %}
{% endblock %}
{% block main_class %}mt-auto mb-auto{% endblock %}
{% block main %}
    <form class="form-main mx-auto" method="post">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        <p class="lead">
            <button class="btn btn-lg btn-secondary mt-2" type="submit">Сохранить</button>
        </p>
    </form>
{% endblock %}