<!--v2-->
{% extends "layout/basic.html" %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Профиль{% endblock %}
{% block nav_items %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:index' %}">Главная</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'main:profile' %}">Профиль</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
</li>
{% endblock %}
{% block main_class %}mt-2{% endblock %}
{% block main %}
<div class="profile-top d-flex">
    <div class=" pr-2">
        {% if user.userpic %}
            <img class="userpic" src="{% thumbnail user.userpic 'default' %}">
        {% else %}
            {% if not user.sex %}
                <img class="userpic" src="{% static 'main/girl_with_glasses.svg' %}">
            {% else %}
                <img class="userpic" src="{% static 'main/boy_with_mustages.svg' %}">
            {% endif %}
        {% endif %}
    </div>
    <div class=" text-left">
        <p class="mb-1">&commat;{{ user.username }}</p>
        <h2>{{ fullname }}</h2>
    </div>
</div>
<div class="border-bottom">
    <nav class="nav justify-content-center w-100">
        <a class="nav-link" href="{% url 'main:profile_change' %}">Редактировать</a>
        <a class="nav-link" href="{% url 'main:password_change' %}">Сменить пароль</a>
        <a class="nav-link" href="{% url 'main:delete_user' %}">Удалить аккаунт</a>
    </nav>
</div>
<div class="text-left mt-1">
    <h3 class="mb-0">Ваши полки:</h3>
    <p><a href="{% url 'main:shelf_add' %}">+Добавить</a></p>
    {% if shelfs %}
        {% for shelf in shelfs %}
            <p class="font-bold"><a href="{% url 'main:shelf_detail' shelf.pk %}">{{ shelf.name }}</a>
                {% if shelf.private %}
                (<span class="font-italic">частная</span>)
                {% else %}
                (<span class="font-italic">открытая</span>)
                {% endif %}
                </p>
        {% endfor %}
    {% else %}
        <p>У Вас не создано ни одной полки.</p>
    {% endif %}
</div>
{% endblock %}