{% extends "layout/basic.html" %}
{% load static %}
{% block title %}Активация{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'main/css/simple.css' %}">{% endblock %}
{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Bookshelf</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{% url 'main:index' %}">Главная</a>
            <a class="nav-link" href="{% url 'main:login' %}">Вход</a>
            <a class="nav-link" href="{% url 'main:register' %}">Регистрация</a>
        </nav>
    </div>
</header>
{% endblock %}
{% block main %}
    <p class="lead">Для окончания регистрации пользователя перейдите по ссылке, 
        указанной в письме, высланном на Ваш электронный ящик.</p>
{% endblock %}