<!--v2-->
{% extends "layout/basic.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Книжная полка{% endblock %}
{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:index' %}">Главная</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:profile' %}">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:login' %}">Вход</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:register' %}">Регистрация</a>
    </li>
{% endif %}
{% endblock %}
{% block main %}
    <h2>{{ name }}</h2>
    {% if is_owner %}
        <div class="border-bottom border-top">
            <nav class="nav">
                <a class="nav-link" href="{% url 'main:record_add' pk=pk %}">Добавить запись</a>
                <a class="nav-link" href="{% url 'main:password_change' %}">Сменить пароль</a>
                <a class="nav-link" href="{% url 'main:delete_user' %}">Удалить аккаунт</a>
            </nav>
        </div>
    {% endif %}
    {% for record in shelfrecords %}
        <p>{{ record.title }}</p>
    {% endfor %}
{% endblock %}