<!--v2-->
{% extends "layout/basic.html" %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Добавление записи{% endblock %}
{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:index' %}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:profile' %}">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
    </li>
{% endblock %}
{% block main_class %}mt-auto mb-auto{% endblock %}
{% block main %}
    <div class="text-left">
        <h4><a href="{% url 'main:shelf_detail' pk=pk %}">{{ name }}/</a></h4>
        <p>
            <form class="mx-auto" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="errors">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                
                {% for field in form %}
                    
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}

                        {% if field.name == 'rating' %}
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="id_rating">Оценка</label>
                                <div class="col-md-9">
                                    <select name="rating" size="1" class="form-control" title="" id="id_rating">
                                        <option value="0" selected></option>
                                        <option value="1">&#x2B50;</option>
                                        <option value="2">&#x2B50;&#x2B50;</option>
                                        <option value="3">&#x2B50;&#x2B50;&#x2B50;</option>
                                        <option value="4">&#x2B50;&#x2B50;&#x2B50;&#x2B50;</option>
                                        <option value="5">&#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;</option>
                                    </select>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="col-md-9">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endif %}

                    {% endif %}

                {% endfor %}

                <p class="lead">
                    <button class="btn btn-lg btn-secondary" type="submit">Сохранить</button>
                </p>
            </form>
            
            <!-- <form class="mx-auto" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="id_author">Автор</label>
                    <div class="col-md-9">
                        <input type="text" name="author" maxlength="250" class="form-control" 
                            placeholder="Автор" title="" required id="id_author">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="id_cover">Обложка</label>
                    <div class="col-md-9">
                        <input type="file" name="cover" accept="image/*" class="form-control-file" title="" id="id_cover">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="id_comment">Комментарий</label>
                    <div class="col-md-9">
                        <textarea name="comment" cols="40" rows="10" class="form-control" 
                            placeholder="Комментарий" title="" id="id_comment"></textarea>
                    </div>
                </div>
                <input type="hidden" name="shelf" value="1" id="id_shelf">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="id_rating">Оценка</label>
                    <div class="col-md-9">
                        <select name="rating" size="1" class="form-control" title="" id="id_rating">
                            <option value="0" selected></option>
                            <option value="1">&#x2B50;</option>
                            <option value="2">&#x2B50;&#x2B50;</option>
                            <option value="3">&#x2B50;&#x2B50;&#x2B50;</option>
                            <option value="4">&#x2B50;&#x2B50;&#x2B50;&#x2B50;</option>
                            <option value="5">&#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;</option>
                        </select>
                    </div>
                </div>
                <p class="lead">
                    <button class="btn btn-lg btn-secondary" type="submit">Сохранить</button>
                </p>
            </form> -->
            <!-- <form class="mx-auto" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <p class="lead">
                    <button class="btn btn-lg btn-secondary" type="submit">Сохранить</button>
                </p>
            </form> -->
        </p>
    </div>
{% endblock %}