<!--v2-->
{% extends "layout/basic.html" %}
{% load main_extras %}
{% load static %}
{% load thumbnail %}
{% load bootstrap4 %}
{% block title %}Книжная полка{% endblock %}
{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:index' %}">Главная</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:profile' %}">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:login' %}">Вход</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:register' %}">Регистрация</a>
    </li>
{% endif %}
{% endblock %}
{% block main %}
    <h2>{{ name }}</h2>
    {% if is_owner %}
        <div class="border-bottom border-top">
            <nav class="nav justify-content-center">
                <a class="nav-link" href="{% url 'main:record_add' pk=pk %}">Добавить запись</a>
                <a class="nav-link" href="{% url 'main:shelf_change' pk=pk %}">Редактировать полку</a>
                <a class="nav-link" href="{% url 'main:shelf_upload' pk=pk %}">Загрузить</a>
                <a class="nav-link" href="{% url 'main:shelf_delete' pk=pk %}">Удалить полку</a>
            </nav>
        </div>
    {% endif %}
    {% if shelfrecords %}
        <div class="table-responsive mt-2">
            <table class="table table-striped table-sm text-left">
                <tbody>
                {% for record in shelfrecords %}
                <tr>
                    <td class="justify-content-start">
                        {% if record.cover %}
                        <img class="book-cover-inline" src="{% thumbnail record.cover 'cover_inline' %}">
                        {% else %}
                        <img class="book-cover-inline" src="{% static 'main/book_'|addstr:record.random_cover|addstr:'.svg' %}">
                        {% endif %}
                    </td>
                    <td>
                        <p class="mb-0">
                            <strong>
                                {% if is_owner %}
                                <a href="{% url 'main:record_detail' pk=record.pk %}">
                                {% endif %}
                                    {{ record.title }}
                                {% if is_owner %}
                                </a>
                                {% endif %}
                            </strong>
                        </p>
                        <p class="mb-0">{{ record.author }}</p>
                    </td>
                    <td>
                        <p class="mb-0">
                            {% if record.rating == 1 %}
                            &#x2B50;
                            {% elif record.rating == 2 %}
                            &#x2B50;&#x2B50;
                            {% elif record.rating == 3 %}
                            &#x2B50;&#x2B50;&#x2B50;
                            {% elif record.rating == 4 %}
                            &#x2B50;&#x2B50;&#x2B50;&#x2B50;
                            {% elif record.rating == 5 %}
                            &#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;
                            {% endif %}
                        </p>
                        <p class="mb-0">{{ record.read_date|date:"d.m.Y" }}</p>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <nav aria-label="Записи полки">
                <ul class="pagination justify-content-center">

                    <li class="page-item {% if page.number == 1 %}disabled{% endif %}">
                        <a class="page-link" href="?page=1">
                            Первая
                        </a>
                    </li>

                    {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.previous_page_number }}">
                            &laquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% for i in valid_numbers %}
                    <li class="page-item {% if page.number == i %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">
                            {{ i }}{% if page.number == i %}<span class="sr-only">(current){% endif %}</span>
                        </a>
                    </li>
                    {% endfor %}

                    {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.next_page_number }}">
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}

                    <li class="page-item {% if page.number == num_pages %}disabled{% endif %}">
                        <a class="page-link" href="?page={{ num_pages }}">
                            Последняя
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}